<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Dipper Cart</title>
	<!-- bootstrap CDn -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel="stylesheet" href="main.css">
	<!--Angular CDN -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.0/angular.min.js"></script>
</head>
<body id="page-top" ng-app="app" ng-controller="TooltipController as tooltip">
	<nav class="navbar navbar-default navbar-fixed-top">
  		<div class="container">
    		<button class="nav navbar-nav navbar-right btn btn-default btn-lg" data-toggle="tooltip" data-placement="bottom" title="{{tooltip.totalQuantitiy()}}">
    			<span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
    		</button>
  		</div>
	</nav>
	<section id="intro" class="intro-section">
		<div class="container" ng-controller="CartController as cart">
			<div class="row">

			  <div class="col-md-6" ng-repeat="item in cart.items">
			      <center>
			          <div class="servive-block">
			              <div class="heading-md">
			                  <h2>{{ item.title }}</h2>
			              </div>
			              <div class="content">
			                  <img ng-src={{item.img}} >
			              </div>
			               <div class="details">
			                  <div class="row first-row">

			                  </div>
			                  <div class="row second-row">
			                      <div class="col-xs-6">
			                          <p>Total: Rs 1</p>
			                      </div>
			                  </div>
			                  <div class="row third-row">
			                      <div class="col-xs-6">
			                          <div class="input-group input-group-sm">
			                            <span class="input-group-addon" id="sizing-addon3">Qty</span>
			                            <input type="number" min="0" ng-model="cart.qty" ng-model="tool.qty1" class="form-control" aria-describedby="sizing-addon3">
			                          </div>
			                      </div>
			                      <div class="col-xs-6">
			                          <select
			                          	ng-model="cart.choices[$index].size"
			                          	ng-options="option.label for option in item.options">
			                          	<option value="">-- Please Select --</option>
			                          </select>
			                      </div>
			                  </div>
			              </div>
			              <div >
			                  <button class="buyButton">Buy</button>
			              </div>
			          </div>
			      </center>
			  </div>

			</div>
		</div>
	</section>



	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="js/bootstrap.min.js"></script>
	<script>
		$(function () {
		  $('[data-toggle="tooltip"]').tooltip()
		})
	</script>
	<!-- custom scripts -->
	<script src="js/app.js"></script>
	<script src="js/cart.controller.js"></script>
	<script src="js/tooltip.controller.js"></script>
</body>
</html>
